<!DOCTYPE html>
<html lang="pt_BR">
  <head>
    <!-- PAGE INFO -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EasyCall | Login</title>

    <!-- Swiper -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>

    <!-- STYLES -->
    <link rel="stylesheet" href="stylesheets/style.css" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap" rel="stylesheet"/>
  </head>
  <body>

    <main>
    <section id="login">
      <div class="login">
        <header>
          <h2 class="title">EasyCall</h2>
          <h2 class="title">Login</h2>
          
        </header>
        <form action="/login/authentication" method="post" class="login-form">
          <div class="form-user">
          <label for="flogin"><h4>LOGIN</h4><label>
          <input type="text" name="flogin" id="flogin" />
        </div>
        <div class="form-senha">
          <label for="fpass" class="password"><h4>SENHA</h4></label>
          <input id="fpass" name="fpass" type="password">
        </div>
          <div class="form-buttons">
          <a href="" class="senha">Esqueceu sua senha?</a>
          <input type="submit" class="button" value="ENTRAR"/>
          
        </div>
        <p style="color: red;"><%= erro %></p>
        </form>
      </div>
    </section>



  </main>

    <!-- swiper -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

  </body>
</html>
