<!DOCTYPE html>
<html lang="pt_BR">
  <head>
    <!-- PAGE INFO -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EasyCall | Main</title>

    <!-- Swiper -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />

    <!-- Icones -->
    <link rel="stylesheet" href="fonts/style.css" />

    <!-- STYLES -->
    <link rel="stylesheet" href="stylesheets/style.css" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <header id="header">
      <nav>
        <div class="logo"><h1 class="title">EasyCall</h1></div>
        <div>
          <ul class="menu">
            <li class="items" id="novochamado"><a>Novo chamado</a></li>
            <li class="items" id="meuschamados"><a>Meus chamados</a></li>
            <li class="items" id="perfil">
              <a><i class="icon-user"></i>Perfil</a>
            </li>
          </ul>
        </div>
        <div class="icon-menu1"></div>
        <div class="icon-close"></div>
      </nav>
    </header>

    <main>
      <section id="novochamado">
        <header>
          <h1>Novo Chamado</h1>
          <h3 id="systemdate"></h3>
        </header>
      </section>

      <section id="meuschamados">
        <header>
          <h1>Meus Chamados</h1>
          <h3 id="systemdate"></h3>
        </header>
      </section>

      <section id="perfil">
        <header>
          <h1>Perfil</h1>
          <h3 id="systemdate"></h3>
        </header>
      </section>
      <div class="session">Usuário: <%= data.nome %></div>
    </main>

    <!-- swiper -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <script src="javascript/main.js"></script>
  </body>
</html>
