<!DOCTYPE html>
<html lang="pt_BR">
  <head>
    <!-- PAGE INFO -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EasyCall | Main</title>

    <!-- Swiper -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />

    <!-- Icones -->
    <link rel="stylesheet" href="fonts/style.css" />

    <!-- STYLES -->
    <link rel="stylesheet" href="stylesheets/style.css" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <header id="header">
      <nav>
        <ul>
          <li>
            <h1 class="title">EasyCall</h1>
          </li>
        </ul>
        <ul>
          <li><a href="">dsf</a></li>
          <li><a href="">sdfsdf</a></li>
          <li><a href="">sdfsdf</a></li>
          <li class="mobile"><a href=""> menu</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <section id="novochamado">
        <header>
          <h1>Novo Chamado</h1>
        </header>
      </section>

      <section id="meuschamados">
        <header>
          <h1>Meus Chamados</h1>
        </header>
      </section>

      <section id="perfil">
        <header>
          <h1>Perfil</h1>
        </header>
      </section>
    </main>

    <!-- swiper -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <script src="javascript/main.js"></script>
  </body>
</html>
